.rodape {
    position: fixed;
    bottom: 0;
    background-color: #2C2C2C;
    width: 100%;
    color: #9d9d9d;
    padding: 10px 45px;
}
h1{
    font-family: Lucida Sans Unicode !important;
}
.conteudo{
    margin: 10px 45px 130px;
}
.glyphicon-remove-sign{
    color: red;
}
.div-login{
    width: 95%;
    max-width: 500px;
    background-color: white;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #BBB;
    box-shadow: 5px 6px 7px 4px #bababa;
}
.div-login > div:last-child{
    width: 100%;
}
.div-login > div{
    margin: 10px 0;
}
.topo-site{
    background: #eee;
    padding: 3px;
    font-family: arial-black;
}
.information {
    float: right;
    margin-top: 20px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
table tr td, table tr th{
    font-size: 11pt;
}
#erro > div{
    margin: 0px;
}

#chbox > div{
    min-height: 34px !important;
    padding-left: 237px !important;
    margin-bottom: 0 !important;
    cursor: pointer;
}