<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CategoriaRiscoController</servlet-name>
        <servlet-class>br.cesjf.Controller.CategoriaRiscoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaixaProbabilidadeController</servlet-name>
        <servlet-class>br.cesjf.Controller.FaixaProbabilidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NivelImpactoController</servlet-name>
        <servlet-class>br.cesjf.Controller.NivelImpactoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjetoController</servlet-name>
        <servlet-class>br.cesjf.Controller.ProjetoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaRiscoController</servlet-name>
        <url-pattern>/CategoriaRiscoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaixaProbabilidadeController</servlet-name>
        <url-pattern>/FaixaProbabilidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NivelImpactoController</servlet-name>
        <url-pattern>/NivelImpactoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjetoController</servlet-name>
        <url-pattern>/ProjetoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
